.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

body {
  background-color: #C0C0C0;
  font-family: Arial, sans-serif;
}

